<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seatmap</title>
    <link rel="icon" href="images/favicon.ico" type="image/ico" sizes="16x16">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="scripts/vendor/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="styles/vendor/rzslider.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <!-- Site header starts here-->
    <header class="header"></header>
    <!-- Site header ends here-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <!-- seatmap starts here-->
          <div class="seatmap">
            <div class="seatmap__canvas">
            <div id="seatmap-canvas" class="canvas-wrap"></div>
              <!-- <canvas id="seatmap-canvas" width="100%" height="450"></canvas> -->
              <div role="alert" class="alert alert-info alert-dismissible fade out">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">×</span></button><strong>Click and drag the canvas to reposition.</strong> SHIFT + click to select multiple objects and drag to move as a group.
              </div>
            </div>
            <div class="seatmap__aside" ng-app="myApp" ng-controller="myCtrl">
              <div class="seatmap__nav">
                <ul>
                  <li><a href="#group-1"><i aria-hidden="true" class="fa fa-braille"></i><span>Section</span></a></li>
                  <li><a href="#group-2"><i aria-hidden="true" class="fa fa-columns"></i><span>Table</span></a></li>
                  <li><a href="#group-3"><i aria-hidden="true" class="fa fa-microphone"></i><span>Object</span></a></li>
                  <li><a href="#group-4"><i aria-hidden="true" class="fa fa-text-height"></i><span>Text</span></a></li>
                </ul>
              </div>
              <div class="seatmap__info">
                <div id="group-1" class="groups-info">
                  <h3>{{group.id}}</h3>
                  <ul class="seatmap__list">
                    <li>
                      <label>Rows</label><span><input type="text" ng-model="rows"></span>
                    </li>
                    <li>
                      <label>Cols</label><span><input type="text" ng-model="cols"></span>
                    </li>
                    <li>
                      <label>Rotate</label><rzslider rz-slider-model="slider.rotation" rz-slider-options="slider.options"></rzslider>
                    </li>
                    <li>
                      <label>Seats</label><span>{{rows * cols}}</span>
                    </li>
                  </ul>
                  <div>
                    <button class="btn btn-primary btn-md">Submit</button>
                    <button class="btn btn-secondary btn-md">Cancel</button>
                  </div>
                </div>
                <div id="group-2" class="groups-info">

                </div>
                <div id="group-3" class="groups-info" style="display: none;">
                  <h3>Create Object</h3>
                  <ul class="object-icons">
                    <li class="active"><img src="icons/stage.png"><span>Stage</span></li>
                    <li><img src="icons/food.png"><span>Food</span></li><br>
                    <li><img src="icons/bath.png"><span>Bath</span></li>
                    <li><img src="icons/mic.png"><span>Mic</span></li><br>
                    <li><img src="icons/exit.jpg"><span>Exit</span></li>
                  </ul>
                  <div style="clear: both;">
                      <label>Rotate</label><rzslider rz-slider-model="icon_slider.rotation" rz-slider-options="icon_slider.options"></rzslider>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-md obj-submit">Submit</button>
                    <button class="btn btn-secondary btn-md">Cancel</button>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- seatmap ends here-->
        </div>
      </div>
    </div>
    <!-- footer starts here-->
    <footer class="footer"></footer>
    <!-- footer ends here-->
    <script src="scripts/vendor/jquery-1.11.1.min.js"></script>
    <script src="scripts/vendor/tether.min.js"></script>
    <script src="scripts/vendor/bootstrap.min.js"></script>
    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/vendor/rzslider.min.js"></script>
    <script src="scripts/vendor/konva.min.js"></script>
    <script src="scripts/seat.js"></script>
    <script src="scripts/group.js"></script>
    <script src="scripts/icon.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/script.js"></script>
    <script></script>
  </body>
</html>